<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fai's Butterflies</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul class="nav_b">
        <li><a href="/butterflies">View All Butterflies</a></li>
        <li><a href="/butterflies/new">Add Butterflies</a></li>
        <li>Butterfly Families:</li>

        <% @families.each do |family| %>
          <li><a href="/butterflies/family/<%= family.family %>"><%= family.family %></a></li>
        <% end %>

      </ul>
      <ul class="nav_p">
        <li><a href="/plants">View All Plants</a></li>
        <li><a href="/plants/new">Add Plants</a></li>
        <li>Plants: </li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>