<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fai's Butterflies</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/butterflies">View All</a></li>
        <li><a href="/butterflies/new">Add</a></li>
        <li>Families:</li>
        <% @families.each do |family| %>
          <li><a href="/butterflies/family/<%= family.family %>"><%= family.family %></a></li>
        <% end %>
    </nav>
    <%= yield %>
  </div>
</body>
</html>