<h2>Pick Game</h2>
<h3>Group:</h3>
<div>
  <%= link_to('Genre', games_path, method: :get ) %> 
</div>
<div>
  <%= link_to('Playlist', games_path ) %> 
</div>
<div>
  <%= link_to('Artist', games_new_artist_path, method: :get ) %> 
</div>

