<form action="/results" method="get">
  <input type="text" name="first" placeholder="First number">
  <input type="text" name="operator" placeholder="Operator">
  <input type="text" name="second" placeholder="Second number">  
  <button>Calculate!</button>
</form>