body {
  background-color: pink;
  color: white;
}

nav {
  display: block;
}
.nav_p, .nav_b {
  display: inline-block;
  background-color: purple;
  height: 100%;
  width: 200px;
  text-align: center;
  padding: 10px;
  vertical-align: top;
}

#container {
  max-width: 960px;
  margin: auto;
}

.left {
  border: 1px dashed blue;
  width: 40%;
  display: inline-block;
}
.right {
  border: 1px dashed blue;
  width: 40%;
  display: inline-block;
}

.butterfly img,
.plant img {
  max-width: 8em;
}


img.display {
  max-width: 200px;
}

ul {
  padding-left: 0;
  padding-top: 30px;
  list-style-type: none;

}

ul li a {
  text-decoration: none;
  color: white;
}