body {
  background-color: white;
}

#container {
  border: 1px solid green;
  max-width: 960px;
  margin: auto;
}

.main, .sidebar {
  display: inline-block;
  vertical-align: top;
}

.main {
  border: 1px solid pink;
  width: 75%;
}

.sidebar {
  border: 1px solid blue;
  width: 24%;
}

@media (max-width: 960px) {
  .main, .sidebar {
    display: block;
    width: 100%;
    background-color: green;
  }
}